<mat-toolbar>Presentación de productos</mat-toolbar>

<div class="presen-container mat-elevation-z8">
  <router-outlet></router-outlet>

  <div class="presen-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar presentación del producto" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idpresentacionproducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idpresentacion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombrepresentacionproducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="cantidadpresentacionproducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cantidad}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="unidadpresentacionproducto">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Unidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.unidad}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="openModal(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <button mat-fab color="accent" (click)="openModal(row)" style="float: right; margin-right: 20px">
    <mat-icon>create</mat-icon>
  </button>
</div>
<div style="padding: 50px;"></div>