<router-outlet></router-outlet>
<mat-toolbar>Tipos de comprobantes de pago</mat-toolbar>
<div class="catproducto-container mat-elevation-z8">
  <div class="catproducto-header">
    <mat-form-field>
      <input matInput (keyup)= "applyFilter($event.target.value)" placeholder="Buscar" type="text">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="idtipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idtipocomprobante}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="denominacion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.denominacion}}</mat-cell>
    </ng-container>

  
    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button color="primary" (click)="openModal(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 100]"></mat-paginator>

</div>

<br/>

<div style="padding-right: 50px">
  <!-- <button class="agregar" mat-fab style="float:right" routerLink='/categoriaproducto/nuevo'>
    <mat-icon>create</mat-icon>
  </button> -->
  <button mat-fab color="accent" (click)="openModal(row)" style="float: right; margin-right: 20px">
    <mat-icon>create</mat-icon>
  </button>
</div>
<div style="padding: 50px;"></div>