<mat-tab-group style="border: 1px solid #1a237e;">
  <router-outlet></router-outlet>


  <mat-tab label="Comprobante general">
    <mat-card>Ingrese los datos del comprobante</mat-card>


    <form class="example-container" [formGroup]="form" (ngSubmit)="operar()">
      <br />

      <div class="">

        <mat-form-field style="width: 25%; padding-right: 15px;">
          <mat-select required (selectionChange)="tipocomprobante($event)" placeholder="Tipo recibo"
            formControlName="idtipoSeleccionado">
            <mat-option *ngFor="let p of tiposcomp" [value]="p">
              {{ p.denominacion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Número de recibo" formControlName="numeroorden" type="number"
            [(value)]="numeroorden">
        </mat-form-field>

        <mat-form-field class="inicio">
          <input matInput [matDatepicker]="picker" required formControlName="fechaseleccionada" placeholder="Fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

      </div>

      <div>
        <mat-form-field style="width: 50%;">
          <input matInput placeholder="Consumidor:" required formControlName="consumidorordenfarmacia" type="string">
        </mat-form-field>

        <mat-form-field style="padding-left: 30px;width: 25%;">
          <input matInput placeholder="R.U.C." formControlName="rucordenfarmacia" type="number">
        </mat-form-field>
      </div>
    </form>

    <mat-card>Buscar productos</mat-card>
    <br />

    <div class="example-container mat-elevation-z8">

      <div class="row">

        <div class="col-6" style="padding-right: 10px; width: 50%;">
          <mat-form-field style="width: 50%;">
            <input #name matInput placeholder="Buscar por código"  [(ngModel)]="codigoing" type="string" autofocus >
          </mat-form-field>
  
          <button mat-button color="primary" (click)="buscarPorCodigo()">
            <mat-icon>search</mat-icon>
          </button>
  
        </div>

        <div class="col-6" style="width: 50%;">
          <mat-form-field style="width: 70%;">
            <input matInput placeholder="Buscar por nombre" [(ngModel)]="nombreing"  type="string">
          </mat-form-field>
  
          <button mat-button color="primary" type="submit" (keydown.arrowup)="buscarPorNombre()" (click)="buscarPorNombre()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>

      <mat-table [dataSource]="dataSourceProd" matSort 
      style="background-color: rgb(253, 204, 175);border: darkorange 2px solid; padding-bottom: 5px;">

        <ng-container matColumnDef="codigoproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Código </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.codigo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nombreproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <h6 style="margin-right: 10px;">{{row.nombreproducto}}</h6>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cantidadproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Stock </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.cantidadproducto}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="pventaproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Precio de venta</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.pventaproducto}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="marcaproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Marca </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <h6>{{row.marcaproducto}}</h6>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="presentacionproducto">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Present. </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <h6>{{row.presentacionproducto.nombre}}</h6>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="presentacionproductounidad">
          <mat-header-cell *matHeaderCellDef mat-sort-header> U. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.presentacionproducto.unidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="presentacionproductocant">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Concet. </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.presentacionproducto.cantidad}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button color="primary" (click)="agregar(row)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>


    <div>
      <mat-card>Detalle de la venta
        <div>
          <mat-form-field style="width: 50%;padding-right: 10px;padding-left: 25px;">
            <input matInput placeholder="Producto"  [(ngModel)]="nombrecargado" type="string">
          </mat-form-field>

          <mat-form-field style="width: 10%;padding-right: 10px;">
            <input matInput placeholder="Cantidad de venta"  [(ngModel)]="cantidading" type="number">
          </mat-form-field>
  
          <button mat-flat-button color="primary" (click)="cargar()">
            Agregar al detalle
          </button>
        </div>
      </mat-card>
    </div>


    <div class="example-container">

      <table mat-table [dataSource]="dataSource" 
      style="background-color: cornsilk;  border: goldenrod 2px solid; padding-bottom: 5px;">

        <ng-container matColumnDef="cantidaddetalle">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.cantidad}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="denominacionproducto">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.producto.nombreproducto}} </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="presentacion">
          <th mat-header-cell *matHeaderCellDef> Presentación </th>
          <td mat-cell *matCellDef="let transaction">
            {{transaction.producto.presentacionproducto.nombre}}-
            {{transaction.producto.presentacionproducto.cantidad}}-{{transaction.producto.presentacionproducto.unidad}}
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="pventaproducto">
          <th mat-header-cell *matHeaderCellDef> P. Venta </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.producto.pventaproducto | currency: 'S/.' }} </td>
          <td mat-footer-cell *matFooterCellDef> Total S/. </td>
        </ng-container>

        <ng-container matColumnDef="importedetalle">
          <th mat-header-cell *matHeaderCellDef> Importe </th>
          <td mat-cell *matCellDef="let transaction"> {{transaction.importe | currency: 'S/.'}} </td>
          <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency: 'S/.'}} </td>
        </ng-container>


        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let transaction">
            <button mat-button color="warn" (click)="eliminar(transaction)">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

      </table>

      <mat-card>

        <div style="float: right;background-color: lightcyan;">
          <span style="text-decoration-style: solid;"> Total: {{getTotalCost() | currency: 'S/.'}}</span>

          <mat-form-field style="width: 30%;padding-right: 15px;padding-left: 15px;">
            <input matInput placeholder="A pagar S/."  [(ngModel)]="ingreso">
          </mat-form-field>

            <span style="font-weight: bold;"> VUELTO: {{ingreso-total| currency: 'S/.'}}</span>

  
        </div>

      </mat-card>

    </div>


    <div class="example">
      <button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Terminar</button>
      <button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>
      <button style="float:right; margin-right: 25px;" mat-raised-button color="primary"
        (click)="imprimir()">Imprimir</button>

      <div style="width: 100%; height: 30px;"></div>
    </div>

    <!-- <ngx-extended-pdf-viewer *ngIf="or!=''" [src]="or" useBrowserLocale="false" height="80vh">
    </ngx-extended-pdf-viewer>
    <link rel="or" type="application/110n" href="https://www.example.com/locale/locale.properties" />-->
  </mat-tab>




  <mat-tab label="Reportes">

    <!-- <mat-toolbar color="primary"><span>Reporte detallado</span></mat-toolbar>

      <mat-form-field style="padding: 25px;">
        <input matInput [matDatepicker]="pickerd" placeholder="Fecha del inicio" [(ngModel)]="fechaDetallada">
        <mat-datepicker-toggle matSuffix [for]="pickerd"></mat-datepicker-toggle>
        <mat-datepicker #pickerd></mat-datepicker>
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="pdfDetallado()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="pdfDetalladoXLSX()">
        <i class="fas fa-file-excel" style="font-size: 22px;"></i>
      </button>

      <div>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker2" placeholder="Fecha inicial" [(ngModel)]="fechainicio">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="padding: 25px;">
          <input matInput [matDatepicker]="picker3" placeholder="Fecha final" [(ngModel)]="fechafin">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
        
      <button mat-stroked-button color="primary" (click)="pdfDetalladoNC()">
        <mat-icon>picture_as_pdf</mat-icon>
      </button>
      <button mat-stroked-button style="margin-left: 5px;color: lightseagreen;" (click)="DetalladoNCXLSX()">
        <i class="fas fa-file-excel" style="font-size: 22px;"></i>
      </button>
      </div>

      <div style="padding: 25px;">
        <ngx-extended-pdf-viewer *ngIf="vent!=''" [src]="vent" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
       
      </div> -->

  </mat-tab>

  <mat-tab label="Anular comprobante">

    <!-- <div>
        <mat-form-field style="width: 25%; padding: 15px;">
            <input matInput placeholder="Recibo" type="number"  [(ngModel)]="numerorecib">
          </mat-form-field>


        <button style="margin-right: 25px;" mat-stroked-button color="primary" (click)="buscarrec()">
          <mat-icon>search</mat-icon>
        </button>

        <button style="margin-right: 25px;" mat-stroked-button color="primary" (click)="nota()">
            Generar nota de crédito
        </button>

        <button mat-stroked-button color="warn" (click)="eliminarCP()">
          <mat-icon>delete</mat-icon>
        </button>
  
        <button style="margin-right: 25px;margin-top: 20px;float: right;" mat-raised-button color="accent" (click)="cancelarof()">Terminar</button>
  
      </div>

      <div style="padding: 25px;">
        <ngx-extended-pdf-viewer *ngIf="cpunit!=''" (beforePrint)="true" [showUnverifiedSignatures]="true" [textLayer]="true" [src]="cpunit" useBrowserLocale="true" height="80vh">
        </ngx-extended-pdf-viewer>
      </div> -->



  </mat-tab>


</mat-tab-group>