table {
    width: 100%;
  }
  
  tr.mat-footer-row {
    font-weight: bold;
  }

  
.example-container{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding-left: 25px;
  padding-right: 25px;
}
.example-header{
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-filed{
  font-size: 14px;
  width: 100%;
}
.mat-table{
  overflow: auto;
  max-height: 400px;
}
.agregar{
  background: #1547B3;
}

.example{
margin: 25px;
}

.inicio{
  float: right;
  padding-left: 25px;
}

.example-full-width{
  padding-left: 25px;
  width: 50%;
}