<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-43">
						MiniMarket
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
            <span class="label-input100 p-b-5">Usuario</span>
            <input class="input100" type="email" [(ngModel)]="usuario" name="email">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" [(ngModel)]="clave" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Contraseña</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<!-- <div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div> -->

						<!-- <div>
							<a href="#" class="txt1">
								Olvidó su contraseña?
							</a>
						</div> -->
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="iniciarSesion()">
							Ingresar
						</button>
					</div>
					
          
          <!-- <div class="container-login100-form-btn">
						<button class="login100-form-btn"  style="background-color: slategray;">
							Registrate
						</button>
					</div> -->

				</form>

				<div class="login100-more" style="background-image: url('assets/loginstyle/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	 
	

	
	
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/bootstrap/js/popper.js"></script>
	<script src="assets/loginstyle/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/daterangepicker/moment.min.js"></script>
	<script src="assets/loginstyle/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="assets/loginstyle/js/main.js"></script>

</body>