<div class="example-container">
  <mat-form-field class="obs">
    <input matInput required placeholder="Nombre" [(ngModel)]="producto.nombreproducto">
  </mat-form-field>

  <mat-form-field class="obs">
    <input matInput required placeholder="Codigo" [(ngModel)]="producto.codigo">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Fecha de vencimiento" [(ngModel)]="producto.fvproducto">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput required type="number" placeholder="Cantidad" [(ngModel)]="producto.cantidadproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Precio de venta" [(ngModel)]="producto.pventaproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Precio de ingreso" [(ngModel)]="producto.pingresoproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required placeholder="Marca" [(ngModel)]="producto.marcaproducto">
  </mat-form-field>

  <mat-form-field>
    <input matInput required [matDatepicker]="picker1" placeholder="Fecha de ingreso" [(ngModel)]="producto.fingresoproducto">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

   <mat-form-field>
    <mat-select required placeholder="Proveedor" [(value)]="idProveedorSeleccionado">
      <mat-option *ngFor="let p of proveedores" [value]="p.idproveedor">
        {{ p.nombreproveedor }}
      </mat-option>
    </mat-select>
  </mat-form-field>
    
  <mat-form-field>
    <mat-select required placeholder="Categoría" [(value)]="idCategoriaSeleccionado">
      <mat-option *ngFor="let p of categorias" [value]="p.idcategoriaproducto">
        {{ p.nombrecategoriaproducto }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  

  <form [formGroup]="form">
    <mat-form-field>
      <input type="text" placeholder="Presentación" required aria-label="Assignee" matInput
       [formControl]="present"
        [matAutocomplete]="auto1">
      <mat-autocomplete (optionSelected)="onSelectionChanged($event)" #auto1="matAutocomplete"
        [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [(value)]="option">
          {{option.nombre}} - {{option.cantidad}} - {{option.unidad}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    </form>

  <!-- <mat-form-field>
    <mat-select required placeholder="Presentacion" [(value)]="idPresentacionSeleccionado">
      <mat-option *ngFor="let p of presentaciones" [value]="p.idpresentacionproducto">
        {{ p.nombrepresentacionproducto }} - {{p.cantidadpresentacionproducto}} - {{p.unidadpresentacionproducto}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>