<mat-card>Ingrese los datos de la presentacion</mat-card>

<br/>

<div class="example-container">

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Id" required [(ngModel)]="presentacionproducto.idpresentacion">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Denominación" required [(ngModel)]="presentacionproducto.nombre">
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Cantidad" required [(ngModel)]="presentacionproducto.cantidad">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Unidad" required [(ngModel)]="presentacionproducto.unidad">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="operar()" type="submit">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <div style="padding: 10px;"></div>

  <button mat-raised-button color="warn" (click)="cerrar()">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</div>

<br/>