
.example-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding-left: 25px;
    padding-right: 25px;
}
.example-header{
    min-height: 64px;
    padding: 8px 24px 0;
}
.mat-form-filed{
    font-size: 14px;
    width: 100%;
}
.mat-table{
    overflow: auto;
    max-height: 500px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: end;
  align-items: flex-end;
}
