.pazybien-contenedor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.dispensario-sidenav-contenedor{
    color: #1565C0;
    flex: 1;
}

.dispensario-spacer{
    flex: 1 1 auto;
}

.dispensario-toolbar{
    background: #1565C0;
    color:#fff3e0;
}

.side{
    background: #C5CAE9;
    color:#1565C0;
}


.uper>button{
    background: #fff3e0;
    color:#1565C0;
}