<div class="pazybien-contenedor">

  <mat-toolbar class="dispensario-toolbar" *ngIf="loginService.estaLogeado()">
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="dispensario-app-nombre">MiniMarket ......</h1>
      <span class="dispensario-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>
          
      <mat-menu #menu="matMenu" class="uper">

          <!-- <button mat-menu-item routerLink="/perfil">
              <mat-icon>perm_identity</mat-icon>
              <span>Mi perfil</span>
          </button> -->

          <button mat-menu-item (click)="loginService.cerrarSesion()" (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>

  </mat-toolbar>


  <mat-sidenav-container class="dispensario-sidenav-contenedor">
      <mat-sidenav #sidenav mode="side" style="width:auto;" class="side">
          <div style="width: 100%; display: flex;">
              <img style="margin: auto;height: 100px;" src="assets/logodispensario.png" alt="">
          </div>

          <div style="width: auto;" *ngFor="let m of menus">
              <button mat-menu-item (click)="sidenav.toggle" routerLink="{{m.url}}" style="cursor:pointer">
                  <mat-icon>{{m.icono}}</mat-icon>
                  <span>{{m.nombre}}</span>
              </button>
          </div>
          
          <mat-divider></mat-divider>

      </mat-sidenav>
      <router-outlet></router-outlet>

      <mat-sidenav-content>

          <router-outlet></router-outlet>

      </mat-sidenav-content>

  </mat-sidenav-container>

</div>

