
<mat-card>Ingrese los datos del tipo</mat-card>

<br/>

<div class="example-container" >

  <div [hidden]="true">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Id" required [(ngModel)]="tipocomprobante.idtipocomprobante">
    </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" required [(ngModel)]="tipocomprobante.denominacion">
  </mat-form-field>
  
  <button mat-raised-button color="primary" type="submit" (click)="operar()" [(disabled)]="estado">
    <mat-icon>done</mat-icon>
    <span>Aceptar</span>
  </button>

  <div style="padding: 10px;"></div>
  <button mat-raised-button color="warn" (click)="cerrar()" type="button">
    <mat-icon>close</mat-icon>
    <span>Cancelar</span>
  </button>
</div>

<br/>